{% extends 'base.html' %}

{% block header %}
    <h1 class="mx-auto text-center">{% block title %}Manage Shelter{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container mx-auto text-center">
        <h3>{{ shelter.name }}</h3>
        <p>{{ shelter.description }}</p>
        <p>Location: {{ shelter.location }}</p>
        <h2>Tasks for this shelter:</h2>
        {% if tasks %}
            <table class="table my-3">
                <thead>
                    <tr>
                        <th scope="col">Task Name</th>
                        <th scope="col">Task Description</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td>
                            <div class="dropdown">
                                <button id="task-status-{{ task.id }}" class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    {% if task.status == 'pending' %}
                                        Pending
                                    {% elif task.status == 'in_progress' %}
                                        In Progress
                                    {% elif task.status == 'finished' %}
                                        Finished
                                    {% endif %}
                                </button>
                                <ul class="dropdown-menu">
                                    <li><button class="dropdown-item" onclick="updateTaskStatus({{ task.id }}, 'pending')">Pending</a></li>
                                    <li><button class="dropdown-item" onclick="updateTaskStatus({{ task.id }}, 'in_progress')">In Progress</a></li>
                                    <li><button class="dropdown-item" onclick="updateTaskStatus({{ task.id }}, 'finished')">Finished</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="my-3">No assigned tasks.</p>
        {% endif %}
    </div>
    <script>
        function updateFilters()
        {
            const params = new URLSearchParams(window.location.search);
            params.delete("status");
            document.querySelectorAll("input[name=status]:checked").forEach(checkbox => params.append("status", checkbox.value));
            window.location.search = params.toString();
        }
        function updateTaskStatus(task_id, new_status)
        {
            fetch(`/tasks/update_status`,
            {
                method: "POST",
                headers:
                {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(
                    {
                        id: task_id,
                        status: new_status
                    }
                )
            })
            .then(res => res.json())
            .then(data =>
            {
                if (data.success)
                {
                    old_status = document.getElementById(`task-status-${task_id}`);
                    if (new_status == 'pending')
                        old_status.content = "Pending";
                    else if (new_status == 'in_progress')
                        old_status.content = "In Progress";
                    else
                        old_status.content = "Finished";
                    window.location.reload();
                }
            });
        }
    </script>
{% endblock %}