{% extends 'base.html' %}

{% block header %}
    <h1 class="mx-auto text-center">{% block title %}Manage Emergencies{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container mx-auto text-center">
        <div class="row">
            <div class="col">
                <a href="{{ url_for('admin.add_emergency') }}" class="btn btn-primary mt-3 d-block">Add Emergency</a>
                <table class="table my-3">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Status</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for emergency in emergencies %}
                            <tr>
                                <td class="col-1">{{ emergency.name }}</td>
                                <td class="col-1">{{ emergency.description }}</td>
                                <td class="col-1">
                                    {% if emergency.status %}
                                        Active
                                    {% else %}
                                        Inactive
                                    {% endif %}
                                </td>
                                <td class="col-1">
                                    <a class="btn btn-primary" href="{{ url_for('admin.manage_emergency', e_id=emergency.id) }}">Edit</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}