{% extends 'base.html' %}

{% block header %}
    <h1 class="mx-auto text-center">{% block title %}Help Out{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container mx-auto text-center">
        <div class="row">
            <div class="col">
                <h2>Your Tasks</h2>
                <h3>Volunteering in:</h3>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filter by status
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <label class="dropdown-item form-check-label" role="button">
                                <input class="form-check-input" type="checkbox" name="status" value="pending" onchange="updateFilters()"
                                {% if 'pending' in status %}checked{% endif %}> Pending
                            </label>
                        </li>
                        <li>
                            <label class="dropdown-item form-check-label" role="button">
                                <input class="form-check-input" type="checkbox" name="status" value="in_progress" onchange="updateFilters()"
                                {% if 'in_progress' in status %}checked{% endif %}> In Progress
                            </label>
                        </li>
                        <li>
                            <label class="dropdown-item form-check-label" role="button">
                                <input class="form-check-input" type="checkbox" name="status" value="finished" onchange="updateFilters()"
                                {% if 'finished' in status %}checked{% endif %}> Finished
                            </label>
                        </li>
                    </ul>
                </div>
                {% if tasks %}
                    <table class="table my-3">
                        <thead>
                            <tr>
                                <th scope="col">Task Name</th>
                                <th scope="col">Task Description</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in tasks %}
                            <tr>
                                <td>{{ task.name }}</td>
                                <td>{{ task.description }}</td>
                                <td>
                                    {% if task.status == 'pending' %}
                                        Pending
                                    {% elif task.status == 'in_progress' %}
                                        In Progress
                                    {% elif task.status == 'finished' %}
                                        Finished
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No assigned tasks.</p>
                {% endif %}
            </div>
            <div class="col">
                <h2>Your Donations</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Emergency</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>María</td>
                            <td>$100</td>
                            <td>Sep. 20, 2017</td>
                        </tr>
                        <tr>
                            <td>María</td>
                            <td>$20</td>
                            <td>Sep. 23, 2017</td>
                        </tr>
                        <tr>
                            <td>María</td>
                            <td>$50</td>
                            <td>Sep. 23, 2017</td>
                        </tr>
                        <tr>
                            <td>Irma</td>
                            <td>$100</td>
                            <td>Sep. 7, 2017</td>
                        </tr>
                        <tr>
                            <td>Irma</td>
                            <td>$50</td>
                            <td>Sep. 7, 2017</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function updateFilters()
        {
            const params = new URLSearchParams(window.location.search);
            params.delete("status");
            document.querySelectorAll("input[name=status]:checked").forEach(checkbox => params.append("status", checkbox.value));
            window.location.search = params.toString();
        }
    </script>
{% endblock %}