{% extends 'base.html' %}

{% block header %}
    <h1 class= 'mx-auto text-center'>{% block title %}Emergencies{% endblock %}</h1>
    <link rel="stylesheet" href="../static/style.css">

{% endblock %}

{% block content %}
    <div class="container mx-auto text-center">
        <div class="row">
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Sort by Date
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <label class="dropdown-item form-check-label" role="button">
                                <input class="form-check-input" type="checkbox"> Ascending
                            </label>
                        </li>
                        <li>
                            <label class="dropdown-item form-check-label" role="button">
                                <input class="form-check-input" type="checkbox"> Descending
                            </label>
                        </li>
                    </ul>
                </div>
                    </table>
            </div>
        </div>
    </div>

{% if emergency %}
    <div class="grid-container">

        {% for e in emergency %}

        <a class="a-div" href="{{ url_for('emergency.specific_emergency', e_id = e.id) }}">
            <div class= "inner-grid-container">

                <div>
                    <h1> {{ e.name }} </h1><br>
                    <h2> {{ e.date }} </h2>
                </div>

            {% if emergency.img_url %}
               
                <div style= "text-align: center" >
                    <img src = {{ e.img_url}}><br>
                </div>
            {% endif %}

            </div>
        </a>
        {% endfor %}

    </div>
{% else %}
    <p class="my-3 mx-auto">No emergencies found.</p>
{% endif %}
{% endblock %}