{% extends 'base.html' %}

{% block header %}
    <h1 class= 'mx-auto text-center p-5'>{% block title %}Emergencies{% endblock %}</h1>
    <link rel="stylesheet" href="../static/style.css">

{% endblock %}

{% block content %}

<div class="grid-container">

    {% for e in emergency %}

        <div> 
            {{ e.emergency_name }}

            <div class= "inner-grid-container">

                <div class= "grid-item">
                {{ e.emergency_status}}
                </div>

                <div class= "grid-item">
                {{ e.emergency_date}}
                </div>
            </div>

        </div>
    
    {% endfor %}

{% endblock %}