<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_5cfccda59f78f7b27dca32a7ff270cfa {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
    <script src="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/ardhi/Leaflet.MousePosition/src/L.Control.MousePosition.min.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_5cfccda59f78f7b27dca32a7ff270cfa" ></div>
        
</body>
<script>
    
    
            var map_5cfccda59f78f7b27dca32a7ff270cfa = L.map(
                "map_5cfccda59f78f7b27dca32a7ff270cfa",
                {
                    center: [18.200178, -66.5],
                    crs: L.CRS.EPSG3857,
                    ...{
  "maxBounds": [
[
17.630649,
-68.3469,
],
[
18.636163,
-65.1156267,
],
],
  "zoom": 9,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );
            L.control.scale().addTo(map_5cfccda59f78f7b27dca32a7ff270cfa);

            

        
    
            var tile_layer_644d7675206cee88d54126289f5e6a04 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_644d7675206cee88d54126289f5e6a04.addTo(map_5cfccda59f78f7b27dca32a7ff270cfa);
        
    
            var marker_eefd17ee9f5ef68f29bffffac5242f2b = L.marker(
                [18.370658, -65.7206],
                {
}
            ).addTo(map_5cfccda59f78f7b27dca32a7ff270cfa);
        
    
            var icon_60c0efc4578b8e58f6eda9dd6d54b83e = L.AwesomeMarkers.icon(
                {
  "markerColor": "persimmon",
  "iconColor": "white",
  "icon": "home",
  "prefix": "glyphicon",
  "extraClasses": "fa-rotate-0",
}
            );
        
    
        var popup_699a1bec0a5da76b2bb5a05f286735b8 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_36fe695417a409409b7a314b378705c1 = $(`<div id="html_36fe695417a409409b7a314b378705c1" style="width: 100.0%; height: 100.0%;">Centro</div>`)[0];
                popup_699a1bec0a5da76b2bb5a05f286735b8.setContent(html_36fe695417a409409b7a314b378705c1);
            
        

        marker_eefd17ee9f5ef68f29bffffac5242f2b.bindPopup(popup_699a1bec0a5da76b2bb5a05f286735b8)
        ;

        
    
    
            marker_eefd17ee9f5ef68f29bffffac5242f2b.bindTooltip(
                `<div>
                     Shelter
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
                marker_eefd17ee9f5ef68f29bffffac5242f2b.setIcon(icon_60c0efc4578b8e58f6eda9dd6d54b83e);
            
    
            var mouse_position_e1d4c488dafb7c80d2445223ccf9ccfb = new L.Control.MousePosition(
                {
  "position": "bottomright",
  "separator": " : ",
  "emptyString": "Unavailable",
  "lngFirst": false,
  "numDigits": 5,
  "prefix": "",
}
            );
            mouse_position_e1d4c488dafb7c80d2445223ccf9ccfb.options["latFormatter"] =
                undefined;
            mouse_position_e1d4c488dafb7c80d2445223ccf9ccfb.options["lngFormatter"] =
                undefined;
            map_5cfccda59f78f7b27dca32a7ff270cfa.addControl(mouse_position_e1d4c488dafb7c80d2445223ccf9ccfb);
        
    
            var circle_marker_60831444a314d5e2c51944a2e775572a = L.circleMarker(
                [18.636163, -68.3469],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_5cfccda59f78f7b27dca32a7ff270cfa);
        
    
            circle_marker_60831444a314d5e2c51944a2e775572a.bindTooltip(
                `<div>
                     Upper Left Corner
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var circle_marker_dd0add3fb1020ef1a3d69e406b82363f = L.circleMarker(
                [17.630649, -68.3469],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_5cfccda59f78f7b27dca32a7ff270cfa);
        
    
            circle_marker_dd0add3fb1020ef1a3d69e406b82363f.bindTooltip(
                `<div>
                     Lower Left Corner
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var circle_marker_d66bc19b4f363466afa0891e180dc3d4 = L.circleMarker(
                [17.630649, -65.1156267],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_5cfccda59f78f7b27dca32a7ff270cfa);
        
    
            circle_marker_d66bc19b4f363466afa0891e180dc3d4.bindTooltip(
                `<div>
                     Lower Right Corner
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var circle_marker_668bb62d4e67c948d228295e8439781b = L.circleMarker(
                [18.636163, -65.1156267],
                {"bubblingMouseEvents": true, "color": "#3388ff", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "#3388ff", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_5cfccda59f78f7b27dca32a7ff270cfa);
        
    
            circle_marker_668bb62d4e67c948d228295e8439781b.bindTooltip(
                `<div>
                     Upper Right Corner
                 </div>`,
                {
  "sticky": true,
}
            );
        
</script>
</html>