{% extends 'base.html' %}

{% block header %}
    <h1 class="mx-auto text-center">{% block title %}View Shelter{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="container mx-auto text-center">
        <h3>{{ shelter.name }}</h3>
        <p>{{ shelter.description }}</p>
        <p>Location: {{ shelter.location }}</p>
        <h2>Tasks for this shelter:</h2>
        {% if tasks %}
            <table class="table my-3">
                <thead>
                    <tr>
                        <th scope="col">Task Name</th>
                        <th scope="col">Task Description</th>
                        <th scope="col">Volunteer</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.description }}</td>
                        <td>
                            {% if task.get_volunteer() %}
                                {{ task.get_volunteer().name }}
                            {% else %}
                                None
                            {% endif %}
                        </td>
                        <td>
                            <button class="btn btn-primary" onclick="">Register</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="my-3">No assigned tasks.</p>
        {% endif %}
    </div>
{% endblock %}