{% extends 'base.html' %}

{% block header %}
    <h1 class= 'mx-auto text-center p-5'>{% block title %}Emergency{% endblock %}</h1>
    <link rel="stylesheet" href="../static/style.css">
{% endblock %}

{% block content %}
    <div class="grid-container">

        <div class= "inner-grid-container-single">

            <div>
                <h1> {{ emergency.name }} </h1><br>
                <h2> {{ emergency.date }} </h2>

                {% if emergency.status == True %}

                    <button class="button button-active">Active</button>

                {% else %}
                    <button class="button button-inactive">Inactive</button>

                {% endif %}
                
                <p>{{ emergency.description }}</p>

            </div>

            <div style= "text-align: center" >
                <img src = {{ emergency.img_url}}><br>

                <button class="button button-options">Donate</button><br>

            </div>

        </div>

</div>
{% endblock %}