{% extends 'base.html' %}

{% block header %}
    <h1 class= 'mx-auto text-center p-5'>{% block title %}Emergency{% endblock %}</h1>
    <link rel="stylesheet" href="../static/style.css">
{% endblock %}

{% block content %}
    <div class="grid-container">

        <div class= "inner-grid-container-single">

            <div>
                <h1> {{ emergency.name }} </h1><br>
                <h2> {{ emergency.date }} </h2>

                {% if emergency.status == True %}

                    <button class="button button-active">Active</button>

                {% else %}
                    <button class="button button-inactive">Inactive</button>

                {% endif %}
                
                <p>{{ emergency.description }}</p>

            </div>

            <div style= "text-align: center" >

                {% if emergency.img_url %}
                <img src = {{ emergency.img_url}}><br>
                {% endif %}

                <button class="button button-options">Donate</button><br>

            </div>

        </div>

    </div>

    <div class="container mx-auto text-center" style="width:85%; height:85%; padding:50px">
        {{ map|safe }}
    </div>
    
    <div class="container mx-auto text-center">
        <table class="table my-3">
            <thead>
                <tr>
                        <th scope="col">Shelter Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Description</th>
                        <th scope="col">View</th>

                </tr>
            </thead>
            <tbody>
                {%for s in shelters%}
                    <tr>

                        <td class = "col-2">{{ s.name }}</td>
                        <td class = "col-2">{{ s.location }}</td>
                        <td class = "col-4">{{ s.description }}</td>
                        <td class = "col-2">
                            
                            <a class="btn btn-primary" type="button" 
                            href = "{{ url_for('shelters.shelter', shelter_id = s.id) }}"> Go to
                            </a>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}